textarea {
    min-height: 400px;
}

.mail_div {
    border-style: solid;
    margin: 0.2em;
    cursor: pointer;
}

#timestamp {
    float: right;
    color: rgb(141, 140, 140); 
}

#subject {
    float:center;
    padding-left: 1em;
}

#sender {
    font-weight: bold;
}


